@import "./reset";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500&display=swap");
//variables
:root {
  --clr-body: #100f15;
  --clr-box: #24232b;
  --clr-dark: #18171f;
  --clr-dark-green: #1f4027;
  --clr-light-green: #a4ffaf;
  --clr-grey: #686673;
  --clr-light-grey: #e6e5ea;
  --clr-white: #ffffff;
  --clr-strong: #a4ffaf;
  --clr-medium: #f2c063;
  --clr-weak: #fd7f20;
  --clr-poor: #fc2e20;
}

//global
body {
  background-color: var(--clr-body);
  font-family: "Roboto Mono", monospace;
  letter-spacing: 1.1px;
}

body,
#app {
  height: 120vh;
}

#app {
  display: grid;
  grid-template-columns: minmax(1rem, 1fr) minmax(21rem, 1.2fr) minmax(
      1rem,
      1fr
    );
  align-items: center;
}

::selection {
  background-color: var(--clr-light-green);
  color: var(--clr-dark);
}

.disabled {
  opacity: 0.4;
  filter: grayscale(0.7);
}
